<h1>Contacts</h1>
<ul>
	<% @contacts.each do |contact| %>
	<li>
	  <a href="/show_contact/<%= contact.id %>"><strong><%= contact.name %></strong></a>
	</li>
	<% end %>
</ul>
<a href="/new_contact">Add new</a>