<i>Contact info:</i>
    <h1><%= @contact.name %></h1>
    <br>
	<strong>Address:</strong> <%= @contact.address %>
	<br>
	<strong>Phone:</strong> <%= @contact.phone_number%>
	<br>
	<strong>Email:</strong> <%= @contact.email %>