<form action="/calculate" method="POST">

	<input type="text" name="first_num" placeholder="First Number">

	<input type="text" name="second_num" placeholder="Second number">

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>