<h1>Product detail:</h1>
<strong><%= @show_product.title %></strong>
<ul>
	<li>
		<strong>Des:</strong><%= @show_product.description %>
	</li>
	<br>
	<li>
		<strong>Deadline:</strong><%= @show_product.deadline %>
	</li>
</ul>