<!Doctype html>

<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<meta charset="utf-8">
	<title>Whale | Clone</title>
</head>
<body>
	<div class="container" id="content">
		<div class="row">
				<div class="col-sm-4">
					<header>
						<img src="http://thumb7.shutterstock.com/display_pic_with_logo/1248838/291662201/stock-vector-funny-cartoon-whale-291662201.jpg"class="img-rounded">
						<h4>
							<span style="color:blue">Whale</span> posted a new <span style="color:blue">bounty</span>
						</h4>
					</header>
				</div>
		   </div>
			<div class="row">
				<img src="https://cdn.vectorstock.com/i/composite/76,10/life-saver-icon-vector-917610.jpg" heigth="20" width="20" border="0">

				<h4>Bouty <span style="color:blue">#96</span> on <span style="color:blue">Helpful</span>
			</div>
	</div>
</body>
</html>

