<!DOCTYPE html>
<html lang="eng">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta charset="utf-8">
	<title>Ironhack (@ironhack) | Twitter</title>
</head>
<body>
<div class="container-fluid">
	<div class="row">
	    <nav class="navbar navbar-default">
			<div class="row navbar-header">
				<div class="navbar-brand">
					<div class="col-sm-6">
						<h5>
							<a href="https://twitter.com/">
								<img class="brand-picture" alt="Brand" src="http://vignette3.wikia.nocookie.net/gtawiki/images/c/ce/Twitter_Logo.png/revision/20130729143226">
								<span class="padding" style="color:grey">Home</span>
							</a>

							<a class="navbar-reroute" href="https://twitter.com/i/moments">
								<span class="glyphicon glyphicon-flash" aria-hidden="true" style="color:grey">Moments</span>
							</a>
						</h5>
				    </div>
				</div>
			</div>

			<div class="col-sm -6">
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="search Twitter">
					</div>
					<span class="search-icon js-search-action">
						<button type="submit" class="Icon Icon--search nav-search button-search" tabindex="-1">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>

					<span class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Have an account? Log in
						    <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						</ul>
			        </span>
				</form>
			</div>
		</nav>
    </div>
</div> <!-- /container-fluid -->

<div class="container-fluid">

		<div class="row picture_row">
			<div class="container-fluid">
				<img src="https://pbs.twimg.com/profile_banners/1551130856/1399999084/1500x500" clas="img-responsive">
			</div>
		</div>
</div>
	
<div class="container">
	<div class="row middle_row">
		<div class="col-sm-1">
		</div>

		<div class="col-sm-10">
			<div>Hello</div><br>
			<div></div>
		</div>

		<div class="col-sm-1">
		</div>
	</div>
</div>

	<div class="container">
		<div class="row body_row">
			<div class="col-xs-3">
				<aside class="profile-avatar">
					<img class="profile-img" src="https://pbs.twimg.com/profile_images/466256995675160576/4L9u4Au__400x400.png">
				</aside>
			</div>

			<div class="col-xs-6">
				<div class="row column_row1">

				</div>

				<div class="row column_row2">

				</div>

			</div>

			<div class="col-xs-3">
			</div>

		</div>

	</div>
</body>
</html>