<head>
	<title>Home | Page</title>
</head>

<body>
	<header><h1>Movie Lovers</h1></header>
	<br>
	<b>Search for:</b>
	<form action="/search_result" method="Post">
		<input type="text" name="search_movie" placeholder="type here">
	    </input>
		<button type="submit">search</button>
	</form>
</body>
