<html>
<head>
	<title>Congrats | Page</title>
</head>
	<body>
		<header>Congratulations! You have logged in succesfully!</header>
		<a href="/home">log out</a>
		<h2>Profile for: <%= @user %> </h2>

		<img src="http://thelibertarianrepublic.com/wp-content/uploads/2016/01/unicorn-06.jpg">
	</body>
</html>