<html>
	<form action="/log_in" method="POST">
		<pre>Username:</pre>
		<input type="email" name="username" placeholder="username">
		<pre>Password:</pre>
		<input type="password" name="special_password" placeholder="password">
		<br>
		<button type="submit">Enter</button>
	</form>
</html>