<!doctype html>

<html>
	<head>
	  <title>Add | Online Calculator</title>
	</head>
	<body>
	  <h1>Add</h1>
		<form="/calculator_add" method="POST"> 
		  	<label for= "sum">Find the sum:</label>
		  <br>
		  <input type= "number" name= "first_num" placeholder= "1st number" placeholder="1st number"> + 
		  <input type= "number" name="second_num" placeholder="2nd number">
		  <button type="submit">Calculate</button>
		</form>
	</body>
</html>