<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../styles/trello.css">
		<title>Agile Board | Trello</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row top-row">
				<nav class="top-nav">
					<div class="col-sm-6 first-col">
						<a href="/" class="home-anchor"><strong>HOME</strong></a>
						<a href="/" class="tour-anchor"><strong>TOUR</strong></a>
						<a href="/" class="blog-anchor"><strong>BLOG</strong></a>
				    </div>
					<div class="col-sm-6 second-col">
						<a href="/" class="sign-up-anchor">Sign up</a>
						<a href="/" class="log-in-anchor">Log in</a>
					</div>
				</nav>
			</div>

			<div class="row second-row">
				<div class="col-sm-12">
					<span class="sec-row-links">
						<b>Want to learn more about these cards?</b>
						<a href="/" class="sign-up-link"><b>Sign up for free</b></a> or <a href="/"><b class="learn-link">Learn more about trello</b></a>
					</span>
				</div>
			</div>

			<div class="row third-row">
				<div class="col-sm-6 col-1">
					<span class="thir-row-stuff">
						<img src="https://trello-logos.s3.amazonaws.com/4b6d9fd8adb6c6ee093d60bee0154ddc/30.png"> <strong class="agile-board">Agile Board</strong>
					</span>
					<a href="/">
						<span class="glyphicon-hdd">Inspiring Boards</span>
					</a>
					<a href="/">
						<span class="glyphicon-dashboard">Public</span>
					</a>
				</div>
				<div class="col-sm-6 col-2">

				</div>
			</div>

			<div class="row forth-row">
				<div class="col-sm-2 list1">
					<span>Done</span>
					<ul>
						<li>Review Tech partner pages</li>
						<li>Make sure sponsors are indicated for Tech talk</li>
					</ul>
				</div>
				<div class="col-sm-2 list2">

				</div>
				<div class="col-sm-2 list3">

				</div>
				<div class="col-sm-2 list4">

				</div>
				<div class="col-sm-2 list5">

				</div>
				<div class="col-sm-2 list6">

				</div>
			</div>

		</div>

	</body>
</html>